{% extends "base.html" %}

{% block 'titulo' %}
Sobre
{% endblock 'titulo' %}

{% block 'conteudo' %}
<h1>Lorem, ipsum dolor.</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero consequatur nesciunt velit adipisci? Et tempora,
  tempore adipisci esse obcaecati dolorem.</p>
<p>Ad, doloremque earum aliquid ipsum sunt atque. Enim dolor numquam cumque quia, temporibus impedit atque blanditiis
  fugit, placeat ex eaque.</p>
<p>Culpa similique et qui ad enim optio rerum quisquam ullam, eius commodi tenetur vel veritatis, vitae nihil velit
  voluptates quaerat!</p>
<p>Quod expedita cumque minus in, deleniti vero porro neque at veniam. Autem blanditiis error at officia deserunt saepe
  ad facere.</p>
{% endblock 'conteudo' %}